html, body, #map-canvas {
  height: 100%;
  margin: 0;
}

#trip-wrap {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    height: 180px;
    overflow: auto;
    box-shadow: 0 20px 20px -20px grey;
    z-index: 1;
}

#trip { margin-top: 0; margin-bottom: 0 }
#trip table { margin-top: 0 }

#map-wrap { position: fixed; top: 250px; left: 0; right: 0; bottom: 0 }

#controls-wrap { position: absolute }
.daycell { display: none }
