@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#trip td {
    border: grey solid thin;
    text-align: center;
    font-family: sans-serif;
    font-size: xx-small;
    padding: .5em;
}

.ON_BICYCLE { background-color: rgba(0, 140, 88, .13) }
.WALKING, .ON_FOOT { background-color: rgba(32, 172, 41, .13) }
.RUNNING { background-color: rgba(173, 213, 0, .13) }
.IN_VEHICLE { background-color: rgba(221, 0, 32, .13) }
.TRAIN { background-color: rgba(247, 247, 0, .13) }
.SUBWAY, .TRAM { background-color: rgba(246, 189, 0, .13) }
.FERRY, .BUS { background-color: rgba(230, 99, 19, .13) }
.TILTING { background-color: rgba(0, 0, 255, .13) }
.STILL { background-color: rgba(255, 255, 255, .13) }
.UNKNOWN { background-color: rgba(136, 136, 136, .13) }

#trip .activity div { font-size: xx-large; margin: .2em }
.material-icons { font-size: inherit }

#trip td.left { text-align: left }
#trip td.center { text-align: center }
#trip td.right { text-align: right }

#trip { margin: 0 1em }
#trip table { border-collapse: separate; border-spacing: 5px; margin-top: 1em }

#trip .place { border: none; vertical-align: middle }
#trip .place.move { background: none; padding: 0 }

#trip .place.move div {
    border-bottom: dotted medium lightgrey;
    min-width: 4ex;
}

.activity { border-radius: 0 1em 1em 0 }
.activity.STILL { border-radius: 0 }

#trip .time { border: none; padding-bottom: 0 }
#trip .time.both { position: relative; left: -4ex }

#trip .gap { visibility: hidden }

#trip .daycell { vertical-align: top; border: none; white-space: nowrap }
#trip .daycell p {
    margin-top: 5px;
    border-top: lightgrey thin solid;
    padding: .5em;
}
