#trip td {
    border: grey solid thin;
    text-align: center;
    font-family: sans-serif;
    font-size: xx-small;
    padding: .5em;
}

.ON_BICYCLE { background-color: #008c5822 }
.WALKING, .ON_FOOT { background-color: #20ac2922 }
.RUNNING { background-color: #add50022 }
.IN_VEHICLE { background-color: #dd002022 }
.TRAIN { background-color: #f7f70022 }
.SUBWAY, .TRAM { background-color: #f6bd0022 }
.FERRY, .BUS { background-color: #e6631322 }
.TILTING { background-color: #00f2 }
.STILL { background-color: #fff2 }
.UNKNOWN { background-color: #8882 }

#trip .activity div {
    font-size: xx-large;
    margin: .2em;
    transform: scaleX(-1);
}

#trip td.left { text-align: left }
#trip td.center { text-align: center }
#trip td.right { text-align: right }

#trip { margin: 0 1em }
#trip table { border-collapse: separate; border-spacing: 5px; margin-top: 1em }

#trip .place { border: none; vertical-align: middle }
#trip .place.move { background: none; padding: 0 }

#trip .place.move div {
    border-bottom: dotted medium lightgrey;
    min-width: 4ex;
}

.activity { border-radius: 0 1em 1em 0 }
.activity.STILL { border-radius: 0 }

#trip .time { border: none; padding-bottom: 0 }
#trip .time.both { position: relative; left: -4ex }

#trip .gap { visibility: hidden }

#trip .daycell { vertical-align: top; border: none }
