<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/compressed/themes/default.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/compressed/themes/default.date.css">
    <link rel="stylesheet" href="..{{ RR_URL_PREFIX }}/static/css/singledate.css">
    <link rel="stylesheet" href="..{{ RR_URL_PREFIX }}/static/css/usertrips.css">
    <link rel="stylesheet" href="..{{ RR_URL_PREFIX }}/static/css/energymap.css">
    <link rel="icon" href="static/icon/favicon.ico">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}">
    </script>
    <script type="text/javascript">
      var RR_URL_PREFIX = "{{ RR_URL_PREFIX }}";
    </script>
<!--
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!--
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/picker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/compressed/picker.date.js"></script>
  </head>
  <body>
    <div id="controls-wrap">
      <div id="controls">
        <input id="date" value="2015-11-11" />
        <button id="menu" >Return to menu</button>
      </div>
    </div>
    <div id="trip-wrap"><div id="trip"></div></div>

    <div id="dialog-form" title="Edit trip leg">
      <form>
        <fieldset>
          <legend>Transport mode</legend>

          <div id="mode">
            <input type="radio" name="mode" id="BUS" value="BUS">
            <label for="BUS">
              <div class="icon material-icons">&#xE530;</div>Bus
            </label>

            <input type="radio" name="mode" id="FERRY" value="FERRY">
            <label for="FERRY">
              <div class="icon material-icons">&#xE532;</div>Ferry
            </label>

            <input type="radio" name="mode" id="SUBWAY" value="SUBWAY">
            <label for="SUBWAY">
              <div class="icon material-icons">&#xE56F;</div>Subway
            </label>

            <input type="radio" name="mode" id="TRAIN" value="TRAIN">
            <label for="TRAIN">
              <div class="icon material-icons">&#xE570;</div>Train
            </label>

            <input type="radio" name="mode" id="TRAM" value="TRAM">
            <label for="TRAM">
              <div class="icon material-icons">&#xE571;</div>Tram
            </label>

            <input type="radio" name="mode" id="ON_BICYCLE" value="ON_BICYCLE">
            <label for="ON_BICYCLE">
              <div class="icon material-icons">&#xE52F;</div>Bicycle
            </label>

            <input type="radio" name="mode" id="IN_VEHICLE" value="IN_VEHICLE">
            <label for="IN_VEHICLE">
              <div class="icon material-icons">&#xE531;</div>Car
            </label>

            <input type="radio" name="mode" id="RUNNING" value="RUNNING">
            <label for="RUNNING">
              <div class="icon material-icons">&#xE566;</div>Running
            </label>

            <input type="radio" name="mode" id="WALKING" value="WALKING">
            <label for="WALKING">
              <div class="icon material-icons">&#xE536;</div>Walking
            </label>

            <input type="radio" name="mode" id="RESET" value="RESET">
            <label for="RESET">
              <div class="icon material-icons">&#xE909;</div>Reset
            </label>
          </div>
        </fieldset>

          <label for="line">Mass transit line name</label>
          <input type="text" name="line" id="line"
           class="text ui-widget-content ui-corner-all">

          <!-- Allow form submission with keyboard without duplicating the dialog button -->
          <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </form>
    </div>

    <div id="map-wrap"><div id="map-canvas"></div></div>
    <script src="..{{ RR_URL_PREFIX }}/static/js/common.js"></script>
    <script src="..{{ RR_URL_PREFIX }}/static/js/singledate.js"></script>
    <script src="..{{ RR_URL_PREFIX }}/static/js/energy.js"></script>
    <script src="..{{ RR_URL_PREFIX }}/static/js/usertrips.js"></script>
  </body>
</html>
