<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/compressed/themes/default.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/compressed/themes/default.date.css">
    <link rel="stylesheet" href="../../static/css/energycertificate.css">
    <link rel="icon" href="../../static/icon/favicon.ico">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/picker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/compressed/picker.date.js"></script>
  </head>
  <body>
    <div id="controls-wrap">
      <div id="controls">
        <label for="firstday">Start date</label>
        <input class="datepicker" id="firstday" />
        <label for="lastday">End date</label>
        <input class="datepicker" id="lastday" />
      </div>
    </div>
    <div id="content"></div>
    <img id="svg" src="energycertificate_svg">
    <script src="../../static/js/energycertificate.js"></script>
  </body>
</html>
