<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link href="//www.aalto.fi/style2015/css/style.min.css" rel=stylesheet type="text/css"/>
    <link rel="icon" href="static/icon/favicon.ico">
    <title>TrafficSense Menu</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>
</head>
<body>
<div class=container>
    <h2>TrafficSense Main Menu<a href="https://aaltotrafficsense.wordpress.com/about/">
    <img src="../static/icon/trafficsense_icon_noborder.png"
    align="right" width=100></a></h2>
    <br>
    <button id="certificate" >View Your Energy Certificate for The Past Week</button>
    <br><br>
    <button id="energymap" >View Qualified Routes on A Map</button>
    <br><br>
    <button id="signout" >Log Out</button>
    <br><br>
    <p><a href="https://aaltotrafficsense.wordpress.com/about/">TrafficSense</a> is a research project at <a href="http://www.aalto.fi/en/">Aalto University</a>.</p>
    <p>Contact <a href="mailto:trafficsense.aalto@gmail.com?Subject=User%20feedback"
                                                target="_top">trafficsense</a>.</p>
    <br><br>
    <button id="cancel_participation">Cancel Participation</button>
</div>
</body>
<script type="text/javascript">

    $(document).ready(function() {
        $('#certificate').click(function() { window.location='energycertificate' } );
        $('#energymap').click(function() { window.location='energymap' } );
        $('#signout').click(disconnectServer);
        $('#cancel_participation').click(cancelParticipation);
    });

	function disconnectServer() {
      // Revoke the server tokens
      $.ajax({
        type: 'POST',
        url: $(location).attr('origin') + '{{ RR_URL_PREFIX }}/disconnect',
        async: false,
        success: function(result) {
			window.location='signedout';
        },
        error: function(e) {
          console.log(e);
        }
      });
	}

    function cancelParticipation() {
        var r = confirm("Based on this request we will delete all the data you have collected so far and remove your account.");
        if (r == true) {
            $.ajax({
                type: 'POST',
                url: $(location).attr('origin') + '{{ RR_URL_PREFIX }}/cancelparticipation',
                async: false,
                success: function(result) {
                    console.log(result)
                    window.location='participationcancelled';
                },
                error: function(e) {
                    console.log(e);
                }
            });
        }
    }


</script>

</html>