<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="../static/css/visualize.css">
    <link rel="icon" href="../static/icon/favicon.ico">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}">
    </script>
    <script type="text/javascript">
      var device_id = {{ device_id }};
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <script src="../static/js/predict.js"></script>
  </body>
</html>
