<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
  <link rel="stylesheet" type="text/css" href="static/css/common.css">
  <link rel="icon" type="image/png" href="static/icon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="static/icon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="static/icon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="static/icon/appicon-192x192.png" sizes="192x192">
  <title>{{ APPLICATION_NAME }} Signed Out</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>
</head>
<body>
  <header>
    <a href="https://www.aalto.fi/department-of-built-environment/trafficsense">
    <img src="static/icon/trafficsense_logo_87_87_86.png"></a>
  </header>

  <main>
    <div class=container>
        <h1>Signed out</h1>
        <p>Thank you for using TrafficSense. The server access to your information has been successfully revoked.</p>
        <button id="restart" >Restart a TrafficSense session</button>
    </div>
  </main>
</body>

<footer>
  <p><a href="https://www.aalto.fi/department-of-built-environment/trafficsense">TrafficSense</a>
    is a research project at <a href="http://www.aalto.fi/en/">Aalto University</a>.</p>
  <p>Contact <a href="mailto:trafficsense.aalto@gmail.com?Subject=Web%20service%20contact"
    target="_top">trafficsense</a>.</p>
</footer>


<script type="text/javascript">

    $(document).ready(function() {
        $('#restart').click(function() { window.location='/' } );
    });

</script>

</html>
