<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link href="http://aaltofimedia1.aalto.fi/style2015/css/style.min.css" rel=stylesheet type="text/css"/>
    <title>TrafficSense Logout</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>
</head>
<body>
<div class=container>
    <h2>Signed out.</h2>
    <p>Thank you for using TrafficSense. The server access to your information has been successfully revoked.</p>
    <button id="restart" >Restart a TrafficSense session</button>
</div>
</body>
<script type="text/javascript">

    $(document).ready(function() {
        $('#restart').click(function() { window.location='signin' } );
    });

</script>

</html>