<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="../static/css/visualize.css">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <script src="../static/js/waypoints.js"></script>
  </body>
</html>
